*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: orange;
}

.head{
    color: darkblue;
}

#bglime{
    background-color: lime;
}

.head > span{
    color: crimson;
}

#para{
    color: green;
}

ul li {
    color: white;
}

ul li:nth-child(even) > a{
    background-color: yellow;
}

ul li:nth-child(odd) > a{
    background-color: purple;
}


p{
    color: white;
    font-size: 18px;
}

p>span{
    color: black;
    font-size: 24px;
}